/* color schemes 
pink: #e5B0A4
deep green: 1f3b2c
moss 588068
cream F5F3f5
tan 9d8a76
off-white #f9f9f9
*/

@font-face {
  font-family: LogoTitle;
  src: url("assets/MuseoSans_500.otf");
}

:root {
  --title-color: #1f3b2c;
  color: #1f3b2c;
}

body {
  font-family: LogoTitle;
  font-size: 12px;
}

h1 {
  font-family: LogoTitle;
  font-size: 1.5rem;
  text-shadow: 1px 1px #c8c8c8;
}

h2,
h4 {
  color: #1f3b2c;
}

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: #1f3b2c;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-rows: 1fr 7fr;
  grid-template-columns: 100px 5fr 2fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar main profile";
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 7px #c8c8c8;
}

/* <------------------ Headbar Styling -----------------> */

.header {
  background-color: rgb(255,255,255, 0.5);
  grid-area: header;
  border-bottom: 1px solid #c8c8c8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.left-header {
  line-height: 1;
}

.right-header {
  display: flex;
  gap: 20px;
  position: relative;
}

.profile-logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

img[src*="magnify"] {
  width: 30px;
  background: #d7d7d6;
  padding: 3px;
  border-radius: 100vh;
  margin: 3px;
}

.search-bar {
  border-radius: 100vh;
  background: #ebebea;
  position: relative;
  width: 35px;
  height: 35px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.search-bar.active {
  width: 260px;
}

.search-bar > .icon {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 1000;
  background: #d7d7d6;
  border: none;
  border-radius: 100vh;
}

.search-bar > .icon .active {
  top: 0;
  left: 0;
}

.search-bar > .input {
  position: relative;
  width: 200px;
  height: 35px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: #ebebea;
}
.headimage {
  width: 20px;
}

.icon-bar {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* <------------------ Sidebar Styling -----------------> */
.sidebar {
  grid-area: sidebar;
  background-color: #8ac185;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 10px 30px;
  border-right: 1px solid #c8c8c8;
}

img[src*="sign"] {
  width: 50px;
  opacity: 0.7;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  opacity: 0.6;
  margin-top: 40px;
}

#logo {
  width: 90%;
}

#nav > ul > li {
  margin: 0 0 15px 0;
}

#nav > ul > li > a:active,
#nav > ul > li > a:link,
#nav > ul > li > a:visited {
  opacity: 0.7;
  transition: 1s;
}

#nav > ul > li > a:hover {
  opacity: 1;
  text-decoration: none;
}

.navimage {
  width: 60%;
  opacity: 0.7;
}

.support-bar {
  margin-top: 35px;
}

/* <------------------ Main Content Styling -----------------> */

.main {
  background-color: #f8f8f8;
  grid-area: main;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 30px;
  padding-top: 50px;
}

.sml-ctn {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border-bottom: 10px solid rgb(128, 180, 123, 0.5);
}
/* <------------------ Profile Sidebar Styling -----------------> */

.profile {
  background-color: #f8f8f8;
  grid-area: profile;
  display: flex;
  justify-content: center;
}
.profile-stats {
  margin-top: 100px;
  width: 80%;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
}

#profile-picture {
  border: 7px solid #fff;
  border-radius: 100vh;
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
}
